<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <scheduling>
      <agent type="Sitecore.Tasks.CleanupAgent">
        <!-- Delete old Revolver contexts from disk -->
        <files hint="raw:AddCommand">
          <remove folder="$(tempFolder)/revolver" pattern="*.session" maxAge="08:00:00" />
        </files>
      </agent>
    </scheduling>
    <settings>
      <!-- Determines whether the Revovler context should be persisted to disk.
           If enabled, the Revolver context will not be lost when the app pool is restarted. -->
      <setting name="Revolver.PersistContextOnDisk" value="true"/>
    </settings>
  </sitecore>
</configuration>