# Build outputs
bin
obj

# Machine specific files
*proj.user
*.DotSettings.user
*.suo
.vs/

# Local build config
deploy.targets

# Ignore NuGet Packages
*.nupkg
**/packages/*

# except build/, which is used as an MSBuild target.
!**/packages/build/

# Other binaries
*.exe
