<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!-- Revolver specific settings -->
    <revolver>
      <script>
        <!-- Defines the script locators -->
        <locator>
          <!-- Locates scripts from a Sitecore content database -->
          <database type="Revolver.Core.ScriptLocator.DatabaseScriptLocator, Revolver.Core">
            <param name="database">core</param>
            <param name="path">/sitecore/system/modules/revolver/scripts</param>
          </database>
          <!-- Locates scripts from a folder on disk -->
          <file type="Revolver.Core.ScriptLocator.FileScriptLocator, Revolver.Core">
            <param name="path">/sitecore modules/shell/revolver/scripts</param>
            <param name="extension">rs</param>
          </file>
        </locator>
      </script>
    </revolver>
  </sitecore>
</configuration>